<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Book Name" formControlName = "name" required>

            </div>
            <div class="form-group">
                <label for="Price">Price</label>
                <input type="text" class="form-control" placeholder="Price" formControlName = "price" required>
                
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" placeholder="Description" formControlName = "description" required>
                <div class="form-group">
                    <button class="bt btn-dark btn-block" type="submit">Add book</button>
                </div>
            </div>
        </form>
    </div>

</div>
